@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0%;
  width: calc(100% - 2px);
  left: 0;
  border: 1px solid black;
  font-weight: 900;
  color: white;
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
  padding-left: 10px;
}

#minha_foto {
  border-radius: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 85px;
}

table , th , td {
  border: 1px solid black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: 700;
}


h2 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  border: 1px solid black;
  padding: 20px;
  color: white;
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
}

aside {
  font-family: Sacramento, cursive;
  border: 1px solid black;
  padding: 20px;
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
}

#licoes_aprendidas {
  border: 1px solid black;
  margin: 20px;
  color: white;
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
}

#licoes_a_aprender {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  color: white;
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
}

article {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  color: white;
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
  line-height: 1.6;
}


#tabela {
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
}

.lado-esquerdo {
  font-weight: 900;
  float: left;
  width: 50%;
}

.lado-direito {
  width: 35%;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  font-size: large;
}


#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

#orange {
  background-color: orange;
}

#red {
  background-color: red;
}

#purple {
  background-color: purple;
}

#thcolor {
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
  color: white;
}

#rodape {
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 78%;
  background-image: linear-gradient(to right bottom, midnightblue, darkorchid);
}

.colorwhite {
  color: white;
}

